---
import "../styles/global.css";

const posts = [{ title: "A Visual Introduction to Rectified Flows", href: "blog/rectified-flow/" }];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Blog</title>
    <link rel="icon" href={`${import.meta.env.BASE_URL}favicon.svg`} />
  </head>

  <body>
    <div class="container">
      <h1 style="margin: 10px 0 18px; font-size: 34px;">Blog</h1>
      <ul>
        {posts.map((p) => (
          <li>
            <a href={p.href}>{p.title}</a>
          </li>
        ))}
      </ul>
    </div>
  </body>
</html>
